body {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100vh;
  color: #e98a1d;
}

img {
  transition: all 300ms; -webkit-transition: all 300ms; -moz-transition: all 300ms; -o-transition: all 300ms;
  width: 100px;
  opacity: 0%;
}

.new-game {
  opacity: 0%;
  height: 30px;
  background-color: #e98a1d;
  border: none;
  border-radius: 5px;
}

.result-tag {
  height: 50px;
}

.rock-btn, .paper-btn, .scissor-btn {
  opacity: 50%;
  margin-top: 50px;
}

.rock-btn:hover, .paper-btn:hover, .scissor-btn:hover {
  opacity: 100%;
  cursor: pointer;
}

.Rock-player, .Rock-opponent {
  position: relative;
  z-index: 2;
  left: 105px;
}

.Paper-player, .Paper-opponent {
  position: relative;
  z-index: 3;
}

.Scissor-player, .Scissor-opponent {
  position: relative;
  right: 105px;
  z-index: 4;
}